@model List<CreditCardProvider.Models.Domain.CCTransactions>
@{
}

<div class="bg-secondary" bg-opecity-10 py-2>
    <div class="container">
        <h1>Show all transactions for Customer</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                   @* <th>Card Number</th>
                    <th>Customer Name</th>
                    <th>Card Limit</th>*@
                    <th>Customer Id</th>
                    <th>Available Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                       @* <td>@item.CCCustomers.CardNumber</td>
                        <td>@item.CCCustomers.LastName</td>
                        <td>@item.CCCustomers.CardLimit</td>*@
                        <td>@item.CCCustomerId</td>
                        <td>@item.CCAvailbleBalance</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No transactions found</p>
    }
</div>

